.thumbnails {
  width: 400px;
  height: 350px;
}

.gutter {
  position: relative;
  height: 60px;
}
.gutter-images {
  width: 90%;
  position: relative;
  left: 5%;
}
.gutter-images img {
  width: 20%;
  height: 60px;
  display: block;
  float: left;
}

.active img {
  width: 100%;
  height: 350px;
}
.nav {
  width: 5%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.nav:nth-of-type(2) {
  left: 95%;
}
